<!DOCTYPE html>
<html>
  <head>
    {{ template "header" . }}
  </head>
  <body>
    {{ template "navbar" . }}
    <section class="section">
      <div class="container">
        <h1 class="title">
          Help
        </h1>
        <h2 class="is-size-3">How to use Ketide?</h2>
        <p>Choose a programming language, enter the source code with optional input data... and you are ready to go!</p>
        <h2 class="is-size-3">What is Ideone?</h2>
        <p>Ketide is an online compiler and debugging tool which allows you to compile source code and execute it online.</p>
        <h2 class="is-size-3">Having problems?</h2>
        <p>You can submit issue on the <a href="https://gitlab.com/cikadev/ketide">Ketide repository</a></p>
      </div>
    </section>
    <!-- Begin additional javascript -->
    <script src="/static/js/main.js"></script>
  </body>
</html>