<!DOCTYPE html>
<html>
  <head>
    {{ template "header" . }}
  </head>
  <body>
    {{ template "navbar"  . }}
    <section class="section">
        <div class="code container">
          <pre>{{ .code.Code }}</pre>
        </div>
        <div class="code-input container">
          <h2 class="is-size-2">stdin</h2>
          <pre style="border: 1px solid #ccc;">3</pre>
        </div>
        <div class="code-output container">
          <h2 class="is-size-2">stdout</h2>
          <pre style="border: 1px solid #ccc;">5</pre>
        </div>
    </section>
    <!-- Begin additional javascript -->
    <script src="static/js/main.js"></script>
  </body>
</html>